# VARIABLES AND DATA TYPES

In [25]:
x = 10 # integer
y = 10.0 # float
z1 = "10" # string
z2 = "word" # String
Is_correct = True # Boolean
print (x,y,z,Is_correct)

10 10.0 10000000 True

In [11]:
Name = "Tom"
_Last_Name = "wave"
age_21 = 21
print(Name, _Last_Name, age_21)

Tom wave 21

In [41]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [47]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [61]:
#  A variable declared inside a function is valid only within that function.
def function():
    local_variable = "Only here"
    print(local_variable)

function()
print(local_variable)  # Error! Not accessible outside function!

Only here

NameError: name 'local_variable' is not defined

In [ ]:
Global = "Global_variables"

def function():
    print(Global)   # Can be used inside the function

function()
print(Global)

In [67]:
#  To modify a global variable inside a function, use the global keyword.

number = 10

def change():
    global number
    number = 20

change()
print(number)

20

In [69]:
# Variables in Python are stored as objects with memory addresses.

x = 50
print(id(x))   #  Memory address of x

140726446338008

In [75]:
#  Python may point variables with the same value to the same memory address (Immutable Objects).

a= 10
b= 10
print(id(a),id(b))

140726446336728 140726446336728

# Python has three main numeric data types: int, float, complex numbers

In [13]:
# integer
x = 10
y = -10
z = 10000000 
# Float
a = 4.10
b = -2.2
c = 1.0
# Complex ( Consists of real and imaginary parts )
d = 3 + 4j 
print(type(x), type(a), type (d)) 

# Complex numbers are typically used to solve problems that cannot be solved with real numbers. 
# For example, taking the square root of negative numbers requires complex numbers because the square root of a negative 
# number is not defined within the real number system. This is where complex numbers come into play.

<class 'int'> <class 'float'> <class 'complex'>

In [21]:
#                                   Converting between numeric types:
# Conversion between integer and float is straightforward using int() and float()
number = 5 #int
x = float(number)
type(x)

float

In [23]:
number2 = 6.0   #float
y = int(number2) 
type (y)

int

In [27]:
 # Implicit Type Conversion
x = 10  #int
y = 10.5 # flo
z = x + y  # Finally float
type(z)

float

In [29]:
 # Implicit Type Conversion
x = True   # automatically considers True as 1.
y = 5   
z = x + y  # finally int
type(z)

int

# Explicit Tmype Conversion

In [31]:
number = "200"   # A string containing only an integer.
x = int(number)
type (x)

int

In [39]:
number = 10.5   # first convert it to float, then to int.
x = str(int(number))  
type(x)

str