# Python Collections - Lists, Tuples, Sets, Dictionaries

In [16]:
# Basit bir liste oluşturalım
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [17]:
print(my_list[0])  # İlk eleman
print(my_list[-1]) # Son eleman

1
5

In [18]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [19]:
my_list.insert(2, 99)
print(my_list)

[1, 2, 99, 3, 4, 5, 6]

In [20]:
my_list.remove(3)
print(my_list)

[1, 2, 99, 4, 5, 6]

In [21]:
del my_list[1]
print(my_list)

[1, 99, 4, 5, 6]

In [22]:
my_list.reverse()
print(my_list)

[6, 5, 4, 99, 1]

In [23]:
my_list.sort()
print(my_list)

[1, 4, 5, 6, 99]

In [ ]:
copy_list = my_list.copy()
print(copy_list)

[1, 4, 5, 6, 99]

In [25]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#  ===== TUPLES =====

In [28]:
my_tuple = (10, 20, 30)
print(my_tuple)
print(my_tuple[0])

(10, 20, 30)
10

In [29]:
# Tuple'lar değiştirilemez, bu kod hata verir:
# my_tuple[0] = 99

temp_list = list(my_tuple)
temp_list.append(40)
print(tuple(temp_list))

(10, 20, 30, 40)

In [ ]:
a, b, c = my_tuple
print(a, b, c)

10 20 30

# ===== SETS =====

In [31]:
my_set = {1, 2, 3, 3, 4}

In [32]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [33]:
my_set.remove(2)
print(my_set)

{1, 3, 4, 5}

In [34]:
my_set.pop()
print(my_set)

{3, 4, 5}

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [36]:
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5}
{3}
{1, 2}

# ===== DICTIONARIES =====

In [37]:

my_dict = {"name": "Alice", "age": 25}
print(my_dict)
print(my_dict["name"])

{'name': 'Alice', 'age': 25}
Alice

In [38]:
my_dict["city"] = "Istanbul"
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'Istanbul'}

In [39]:

my_dict["age"] = 26
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'Istanbul'}

In [ ]:

del my_dict["city"]
print(my_dict)

In [40]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 26, 'Istanbul'])
dict_items([('name', 'Alice'), ('age', 26), ('city', 'Istanbul')])

In [ ]:
for key, value in my_dict.items():
    print(key, ":", value)

name : Alice
age : 26
city : Istanbul

# ===== COMPLEX STRUCTURES =====

In [42]:
people = [
    {"name": "Ali", "age": 20},
    {"name": "Ayşe", "age": 22}
]
print(people[1]["name"])

Ayşe

In [43]:
grades = {
    "Math": [90, 85, 88],
    "Physics": [75, 80, 82]
}
print(grades["Math"])

[90, 85, 88]

In [44]:
copy_dict = my_dict.copy()
print(copy_dict)

{'name': 'Alice', 'age': 26, 'city': 'Istanbul'}

In [45]:

squared = {x: x**2 for x in range(5)}
print(squared)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [46]:

nums = [("Ali", 3), ("Ayşe", 1), ("Mehmet", 2)]
print(sorted(nums, key=lambda x: x[1]))

[('Ayşe', 1), ('Mehmet', 2), ('Ali', 3)]

In [47]:

raw_list = [1, 2, 2, 3, 4, 4]
print(list(set(raw_list)))

[1, 2, 3, 4]

In [48]:

pair_list = [("a", 1), ("b", 2)]
print(dict(pair_list))

{'a': 1, 'b': 2}

In [49]:

reversed_list = my_list[::-1]
print(reversed_list)

[99, 6, 5, 4, 1]

In [50]:
matrix = [[i*j for j in range(3)] for i in range(3)]
print(matrix)

print("apple" in {"apple", "banana"})
print(my_dict.get("age"))

print(len(my_list))
print(len(my_dict))

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]
True
26
5
3

In [51]:
# Tuple değiştirilemezlik kontrolü
try:
    my_tuple[0] = 100
except TypeError as e:
    print("Tuple değiştirilemez:", e)

set3 = {9, 1, 5, 2}
print(set3)

keys = ["a", "b", "c"]
print(dict.fromkeys(keys, 0))

t = ([1, 2], [3, 4])
print(t)

print([x*2 for x in [1, 2, 3]])

a = {1, 2, 3}
b = {3, 4, 5}
print(a - b)
print(b - a)

Tuple değiştirilemez: 'tuple' object does not support item assignment
{9, 2, 5, 1}
{'a': 0, 'b': 0, 'c': 0}
([1, 2], [3, 4])
[2, 4, 6]
{1, 2}
{4, 5}